*{
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

.hidden{
    display: none;
}

body{
    font-size: 10px;
    color: skyblue;
    background-color: black;
}


#intro-screen{

    #blue_matrix_vid{
        object-fit: cover;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }
    #title, .button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #title{
        margin-top: 20vh;
        margin-bottom: 20vh;
        font-size: 10em;
    }
    .button{
        display: flex;
        flex-direction: column;

        #start-button, #how-to-play-button{
            margin-bottom: 20px;
            font-size: 5em;
        }
        #start-button{
            padding-left: 4vw;
            padding-right: 4vw;
        }
    }
    
}

#game-screen{
    #stats *{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 3em;
        margin-right: 5vw;
    }
    .button{
        display: flex;
        justify-content: center;
        #end-game{
            font-size: 3em;
        }
    }
    #game-level{
        #enc-word, #key{
            font-size: 1em;
        }
        #enc-word-prompt,#key-word-prompt{
            display:flex;
            justify-content: center;
            // margin-left: 5vw;
            margin-bottom: 5vh;
            font-size: 3em;
        }
        .button {
            display: flex;
            justify-content: center;
            // align-items: flex-end;
            label{
                font-size: 3em;
            }
            #player-input{
                // margin-left: 5vw;
                color: skyblue;
                width: 30vw;
                height: 1em;
                font-size: 3em;
                padding-top: 5px;
                border: none;
                background-color: rgba(28, 45, 80, 0.68);
            }
            
            #submit-button{
                // margin-left: 5vw;
                font-size: 3em;
            }
        }

    }
}

#how-to-play{
    .button{
        display: flex;
        justify-content: center;
        #back-to-start-button{
            font-size: 5em;
        }
    }
}

#instructions{
    h1{
        display: flex;
        justify-content: center;
        font-size: 5em;
        margin: 10px 0;
    }

    h2{
        font-size: 3em;
        margin: 10px 20px;
    }
    h3{
        font-size: 2em;
        margin: 10px 20px;
    }
    p, ul{
        font-size: 2em;
        margin: 10px 30px;
        // margin-left: 3em;
        text-align: justify;
    }
    
}

#end-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5em;
    text-align: center;

    .button{
        display: flex;
        justify-content: center;
        #back-to-start-button{
            margin-top: 30px;
            font-size: 1em;
        }
    }
}