
#container {
    width: 500px;
    height: 100px;
    overflow: hidden;
}

 #main-alpha {
    display: flex;
    width: 500px;
 }

p {
    width: 8px;
    border: 1px solid black;
    margin: 0 5px
 }

 #sub-alpha {
    position: relative;
    display: flex;
    width: 1500px;
    /* left: -500px; */
 }